@import "./colors.scss";

html {
    body {
        * {
            margin: 0;
            padding: 0;
            line-height: 1;
            list-style: none;
            text-decoration: none;
            font-size: 14px;
        }


    }
}
